@import '../../variables';

.homepage {
    .display {
        width: 15vw;
        height: 30vh;
        border-radius: 100%;

        padding: 2vh 1vw;

        h2, p, a {
            color: $primary-color;
        }

        h2 {

        }
    }
}