@import '../../variables';

.display {
    max-width: 15vw;
    border-radius: 100%;

    padding: 2vh 1vw 3vh;

    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: end;

    nav {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    svg {
        cursor: pointer;
        height: 2vh;
        margin-bottom: 1em;
    }

    h1, h2, h3, h4, p, a {
        color: $primary-color;
    }

    .agency-info {
        a {
            display: block;
            margin-top: 0.5em;
        }

        ul {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 1em;
            text-align: center;
            margin-top: 2em;

            li {
                cursor: pointer;
            }
        }
    }

    .vehicle-info {
        margin-top: 2em;

        div {
            margin-top: 2em;
        }
    }
}

.mapboxgl-ctrl-top-left {
    .mapboxgl-ctrl-group:nth-child(2) {
        margin-top: calc(8vh + 10px);
    }
}

.mapboxgl-ctrl-top-right {
    .mapboxgl-ctrl-group:first-child {
        margin-top: calc(8vh + 10px);
    }
}

.share-link {
    input {
        width: 100%;
        font-family: inherit;
        margin-top: 1em;
    }
}