.feature-info {
    position: absolute;
    top: calc(4.34em + 5%);
    left: 5%;

    width: 25%;
    height: 75%;

    background-color: rgba(gray, 0.3);

    overflow-wrap: break-word;

    padding: 1em;

    .stops-header {
        text-decoration: underline;
        font-weight: bold;
        font-size: 1em;

        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 2em 1em 0;

        svg {
            cursor: pointer;
        }
    }

    ul {
        padding: 0;

        li {
            list-style: none;
            margin-bottom: 1em;
            cursor: pointer;
        }
    }
}