@import '../../variables';

header {
    position: relative;
    z-index: 5;

    background-color: rgba($dark-color, 0.5);
    height: 8vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-left, .header-center, .header-right {
        margin: 1.5vh 1.5vw;

        svg {
            height: 3vh;
            cursor: pointer;
            transition: 0.2s;
        }
    }
    
    .header-center {
        line-height: 3vh;
        text-align: center;

        display: flex;
        align-items: center;

        svg {
            height: 5vh;
            margin: 0 1vw;
        }
    }
    
}